.tab {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    padding: 1rem 0;
  }
  
  .tab a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    font-weight: bold;
    

  }
  
  .tab a:hover {
    background-color: #e0e7ff;
  }
  